@model ProjectEditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Update";
}
<h2>Edit</h2>
<hr class="mt-3"/>
@if (ViewBag.error is not null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(ViewBag.error);
    </div>

}



<form asp-antiforgery="true">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="UpdatedDate" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="CreatedBy" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TechnologyStack"></label>
        <input asp-for="TechnologyStack" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstimatedHours"></label>
        <input asp-for="EstimatedHours" class="form-control">
        <span asp-validation-for="EstimatedHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProjectType"></label>
        <select class="form-control" asp-for="ProjectType">
            <option>---select---</option>
            @if (ViewBag.ProjectType is not null)
            {
                foreach (var item in ViewBag.ProjectType as List<Tracker.Core.Utilities.SelectListItem<int>>)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <span asp-validation-for="ProjectType" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="ContactType"></label>
        <select class="form-control" asp-for="ContactType">
            <option>---select---</option>
            @if (ViewBag.ContactType is not null)
            {
                @foreach (var item in ViewBag.ContactType as List<Tracker.Core.Utilities.SelectListItem<int>>)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <span asp-validation-for="ContactType" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="LifeCycleModel"></label>

        <select class="form-control" asp-for="LifeCycleModel">
            <option>---select---</option>
            @if (ViewBag.LifeCycleModelType is not null)
            {
                @foreach (var item in ViewBag.LifeCycleModelType as List<Tracker.Core.Utilities.SelectListItem<int>>)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <span asp-validation-for="LifeCycleModel" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea cols=5 asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsClientBillable" type="checkbox" class="form-check-input">
        <label asp-for="IsClientBillable" class="form-check-label"></label>
    </div>
    <div>
        <a type="button" asp-action="Index" asp-controller="Project" class="btn btn-info">Back</a>
        <button type="submit" class="btn btn-primary ml-6">Update</button>

    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}